
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
        }

        .calculator {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .display {
            width: 90%;
            padding: 10px;
            font-size: 20px;
            text-align: right;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            
        }

        button {
            padding: 15px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-radius: 25px;
            cursor: pointer;
            background-color: #ffffff;
        }
        button:hover {
            background-color: #d8d6d6; /* Change color on hover */
        }
        
        button:active {
            background-color: #a1a1a1;
        }
        
        .operator {
            background-color: #f0ad4e;
            color: #fff;
        }

        .operator:hover {
            background-color: #f5a637; /* Darker shade for hover */
        }
        .operator:active{
            background-color: #ec971f;
        }
        
        .equal {
            background-color: #5cb85c;
            color: #fff;
        }

        .equal:hover {
            background-color: #42a242; /* Darker shade for hover */
        }

        .equal:active{
            background-color: #5ec55e;
        }
